<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head prefix="og: http://ogp.me/ns# article: http://ogp.me/ns/article#">
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width">
  <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css"> -->
  {% assets filters="scss,cssmin", output="css/mybulma.css", "sass/mystyle.scss" %}
    <link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
  {% endassets %}
  {% assets filters="less,cssmin", output="css/thememod.css", "less/main.less", "less/highlight.less" %}
    <link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
  {% endassets %}
  <style media="print">.is-hidden-print{display:none !important}</style>
  {% for extra_path in EXTRA_PATH_METADATA.values() %}
    {% if extra_path.get('path', '').endswith('.css') %}
      <link rel="stylesheet" href="{{ SITEURL }}/{{ extra_path['path'] }}">c
    {% endif %}
  {% endfor %}
  {% block tags %}
  {% endblock %}
</head>

<body id="index" class="home">
<header class="hero">
  <div class="columns px-5 is-vcentered">
    <div class="column">
      <div class="title has-text-weight-semibold has-text-primary is-3 is-size-5-mobile">
        {{ SITENAME }}
      </div>
    </div>
    <div class="column">
      <div id="navMenu" class="column navbar-menu">
          <div class="navbar-end">
              {% for item_title, item_url, subitems in MENUITEMS_NAVBAR %}
              {% if subitems %}
              <div class="navbar-item has-dropdown is-hoverable">
                  <a class="navbar-link" href="{{ SITEURL }}/{{ item_url }}">
                      {{ item_title.upper() }}
                  </a>
                  <div class="navbar-dropdown">
                      {% for subitem_title, subitem_url in subitems %}
                      <a class="navbar-item" href="{{ SITEURL }}/{{ subitem_url }}">
                          {{ subitem_title.capitalize() }}
                      </a>
                      {% endfor %}
                  </div>
              </div>
              {% else %}
              <a class="navbar-item is-tab" href="{{ SITEURL }}/{{ item_url }}">
                  {{ item_title.upper() }}
              </a>
              {% endif %}
              {% endfor %}
              <a class="navbar-item ml-5 button is-primary is-medium " href="{{ SITEURL }}/pages/awl-membership-form.html">
                JOIN AWL
              </a>
          </div>
        </div>
    </div>
  </div>
</div>
</header>

<div class="container">
  <div class="section columns">
    <div class="column is-three-quarters-desktop is-two-thirds-tablet">
      {% block content %}
      {% endblock %}
    </div>

    <div class="column is-one-quarter-desktop is-one-third-tablet is-hidden-print">
      <aside class="menu">
        {% if MAILCHIMP %}
          {%  include 'mailchimp.html' %}
        {% endif %}
        {% if pages and DISPLAY_PAGES_ON_MENU %}
          <p class="menu-label">Other Pages</p>
          <ul class="menu-list">
            {% if DISPLAY_PAGES_ON_MENU %}
              {% for pg in pages %}
                <li><a {% if pg == page %}class="is-active"{% endif %}
                       href="{{ SITEURL }}/{{ pg.url }}">
                  <span class="icon is-small"><i class="fa fa-book"></i></span>
                  <span class="link-text">{{ pg.title }}</span>
                </a></li>
              {% endfor %}
            {% endif %}
          </ul>
        {% endif %}
        {% if LINKS %}
          <p class="menu-label">{{ LINKS_WIDGET_NAME or "Links" }}</p>
          <ul class="menu-list">
            {% for name, link in LINKS %}
              <li><a href="{{ link }}">
                <span class="icon is-small"><i class="fa fa-globe fa-fw"></i></span>
                <span class="link-text">{{ name }}</span>
              </a></li>
            {% endfor %}
          </ul>
        {% endif %}
        {% if SOCIAL or FEED_ALL_ATOM or FEED_ALL_RSS %}
          {% include 'social.html' %}
        {% endif %}
        {% if LICENSE %}
          <p class="menu-label">License</p>
          {{ LICENSE | license | safe }}
        {% endif %}
      </aside>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container has-text-centered">
    {% if SITESUBTITLE %} <p class="subtitle">{{ SITESUBTITLE }}</p>{% endif %}
    <div class="credits">
      <span><a href="https://github.com/textbook/bulrush">Bulrush</a> theme for
        <a href="https://blog.getpelican.com/">Pelican</a></span>
      <span><span class="icon is-small"><i class="fa fa-html5"></i></span> HTML 5</span>
      <span><span class="icon is-small"><i class="fa fa-css3"></i></span> CSS 3</span>
      <span>Made with <a href="https://bulma.io">Bulma</a></span>
    </div>
  </div>
  {% include 'github.html' %}
</footer>

{% include 'analytics.html' %}
{% include 'disqus_script.html' %}
<script type="text/javascript">
  document.getElementById('navToggle').addEventListener('click', function () {
    var nav = document.getElementById('navMenu');
    var className = nav.getAttribute('class');
    if (className == 'navbar-menu') {
      nav.className = 'navbar-menu is-active';
    } else {
      nav.className = 'navbar-menu';
    }
  });
</script>
</body>
</html>
